
    .bigMOdel {
        position:absolute; top:50% !important; transform: translate(0, -50%) !important; -ms-transform: translate(0, -50%) !important; -webkit-transform: translate(0, -50%) !important;
        margin:auto 5%;
        width:90%;
        height:80%;
    }

    .myModalBig {
        position:absolute; top:50% !important; transform: translate(0, -50%) !important; -ms-transform: translate(0, -50%) !important; -webkit-transform: translate(0, -50%) !important;
        margin:auto 5%;
        width:90%;
        height:80%;
    }

